/* #video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: 300px;
} */

video {
    width: 33%;
    height: 33%;
    object-fit: cover;
}

#video-grid {
    display: flex;
    flex-wrap: wrap;
}


@media only screen and (max-width: 640px) {
    video {
        width: 50%;
        height: 50%;
    }
}